html, body {
	padding: 0;
	margin: 0;
	font-size: 1.1rem;
}
p {
	font-size: 20px;
}

img {
	height: 150px;
	margin: 0;
	padding: 0;
}

a:hover {
	cursor: pointer;
}

iframe {
	border: none;
	background: url('../images/rightnow.png') center no-repeat;
	background-color: rgba(255,255,255,0.5);
	height: 765px;
	width: 1280px;
}

footer {
	background: rgb(182,184,175);
	height: 100%
}

footer p {
	text-align: center;
	font-size: .8rem;
	padding: 50px;
}


.navbar {
	padding: 0;
	margin: 0;
	height: 95px;
	background: rgb(244,245,243);
	
}

.navbar .container {
	max-width: 1385px;
	height: 95px;
	padding-right: 50px;
}

.navbar h3 {
	font-size: 1.6rem;
	font-weight: bold;
}

.nav-item {
	margin: 0 5px;
	font-size: 1rem;
	font-weight: bold;
}

.nav-link {
	width: 118px;
	text-align: center;

}

.dropdown-item {
	font-size: .9rem;
}

.dropdown .dropdown-menu {
    -webkit-transition:  max-height .5s, opacity .4s;
    -moz-transition:  max-height .5s, opacity .4s;
    -ms-transition:  max-height .5s, opacity .4s;
    -o-transition:  max-height .5s, opacity .4s;
    transition: max-height .5s, opacity .4s;
    max-height: 0;
    padding: 0;
    display: none;
    opacity: 0;
}

.dropdown-menu .dropdown-header {
	text-align: left;
	font-size: 1rem;
	background: #f4f5f3;
	opacity: 0;
	-webkit-transition: opacity .4s;
	-moz-transition: opacity .4s;
	-ms-transition: opacity .4s;
	-o-transition: opacity .4s;
	transition: opacity .4s;
}


.jumbotron-fluid{
	background: url('../images/learn.jpg') no-repeat center;
	background-size: cover;
	padding: 12px 0;
}

.iframe {
	margin: 0 auto;
	width: 1280px;
	height: 765px;
}

.main {
	height: 100%;
	background: rgb(240,237,232);
	padding-top: 50px;
	padding-bottom: 100px;
}

.main .container {
	max-width: 1200px;
	padding: 20px 20px;
	height: 90%;
	margin: 0px auto;
}

.main .container h3 {
	padding-bottom: 10px;
	border-bottom: 3px solid black;
	text-align: center;
	font-size: 3rem;
	width: 80%;
	margin: 0 auto;
}

#instructions {
	font-size: 2rem;
	text-align: left;
	width: 100%;
	margin-bottom: 20px;
}


.main .container h4 {
	text-align: center;
	font-size: 1.8rem;
	margin-top: 60px;
}

.main p {
	width: 100%;
	font-size: 1.1rem;
}

.main-icon {
	height: 160px;
	margin: 20px 0;
}

.d-flex {
	margin-bottom: 80px;
}

.p-2 {
	margin-top: 20px;
	text-align: center;
	padding: 0;
	max-width: 25%;
}

.p-2 h4 {
	font-size: 2rem;
	margin: 20px 0;
}	


.p-2 p {
	width: 80%;
	margin: 0 auto;
}


/* CSS for dynamic HTML*/
.subtitles {
	font-size: 1.2rem;
}

.line-items {
	font-size: 1.1rem;
	margin: 10px 0;
}

.sub-items {
	font-size: 1.1rem;
	margin: 5px 0;
}











